* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: #1A0B2E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  gap: 314px;
  color: white;

}

nav ul {
  display: flex;
  gap: 32px;

}

nav ul li {
  list-style-type: none;
}

header span {
  color: purple;
}

header button {
  background-color: purple;
  border-radius: 10000px;
  padding: 10px;
  border: none;
}

main {
  background-image: url(assets/hero-bg.png);
  height: 760px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgb(73, 66, 66);
  position: relative;
}

main .img1 {
  position: absolute;
  top: 110px;
  left: 400px;

}

main .img2 {
  position: absolute;
  top: 185px;
  left: 520px;
}

.p-web {
  padding-top: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.c-web {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;


}

.c-web h1 {
  font-size: 60px;
  color: white;

}

.c-web p {
  color: white;
}

.btn-2 {
  border: 2px solid #00FF88;
  border-radius: 10000px;
  padding: 10px 20px;
  background: transparent;
  color: #00FF88;
}
/* 
.extra-button {
  background-color: #FB09B4;
  border-radius: 10000px;
  padding: 10px 20px;
  border: none;
  color: white;
} */

.btn-1 {
  background-color: #FB09B4;
  border-radius: 10000px;
  padding: 10px 20px;
  border: none;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
}

.podcast {
  background-color: #1A0B2E;
  width: 100%;
  height: 646px;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.about {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid rgb(82, 78, 78);
  padding-bottom: 80px;
}

.info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.podcast h2 {
  font-size: 48px;
  font-weight: bold;
}

.podcast p {
  font-size: 14px;
  font-weight: 300px;
  color: rgb(190, 186, 186);
}

.k {
  display: flex;
  gap: 80px;
}

.k h2 {
  font-size: 48px;
  font-weight: bold;
  color: #00FF88;
  padding-top: 80px;
}

.if {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: black;
}

.s {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.jodi {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  background-color: #1A0B2E;
}

.tumi {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.if h2 {
  color: white;
}

.s h3 {
  color: white;
}

.s p {
  color: white;
}

.iss {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 230px;
  height: 350px;
  border-radius: 24px;
  background-color: #250D44;
  border-radius: 30px;
}

.iss h3 {
  padding-left: 10px;
  font-size: 20px;
}

.iss p {
  padding-left: 10px;
  font-size: 12px;
}

.iss h5 {
  padding-left: 10px;
  color: #00FF88;
}

.iss iframe {
  border-top: 0px;
  border-radius: 24px;
}

.container {
  height: auto;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 120px;

}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

}

.container h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
}

.container p {
  color: #b5b1b1;
  font-size: 16px;
  font-weight: 300px;
  padding: 8px;
}

.container h5 {
  color: #00FF88;
  font-size: 16px;
  font-weight: 500px;
  padding: 8px;
}

.container iframe {
  border-radius: 10px;
  width: 250px;
  height: 214px;
}

.container .card {
  border-radius: 15px;
  width: 250px;
  height: 440px;
  background-color: #250D44;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.container h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #250D44;
  border-radius: 30px;
  padding: 30px;
  width: 1100px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-in-host {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.content h1 {
  color: white;
  font-size: 42px;
  font-weight: bold;
  margin-top: 10px;
}

.content p {
  color: #b5b1b1;
  margin-top: 14px;
  margin-bottom: 18px;
}

.social-icons {
  display: flex;
  gap: 15px;
  background-color: transparent;
}

.social-icons img {
  width: 20px;

}

.social-icons div {
  border: 1px solid gray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 10px;
}

footer {
  background-image: url(assets/footer-bg.png);
  width: 100%;
  margin-top: 0px;
  height: 312px;
  background-size: cover;
}

footer .main {
  margin-top: px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

footer h1 {
  font-size: 60px;
  color: white;
  margin-top: 85px;
}

footer .extra-color {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer span {
  margin-top: 15px;
  color: rgb(197, 195, 195);
}

footer .spot {
  display: flex;
  gap: 40px;
}

footer .foot {
  color: rgb(198, 197, 197);
  margin-top: 30px;
}

footer i {
  color: white;
}

.jan {
  background-color: #1A0B2E;
  height: 500px;
}

.half-tittle {
  background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.b1 {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}

.btn-1 {
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}

main h4 {
  background-color: #00FF88;
  position: absolute;
  top: 135px;
  left: 655px;
  border-radius: 10000px;
  height: 25px;
  width: 50PX;
  padding: 5px;
  box-shadow: 0px 0px 10px 1px rgb(108, 219, 108);
}


/* start of grid css */
.why-choose {
  padding: 80px 40px;
  max-width: 1200px;
  margin: auto;
  background-color: #230E3D;
}

.why-choose h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}


.title-in-grid {
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: #2e1458;
  padding: 30px;
  border-radius: 16px;
}

.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #d6cdef;
}

.card.tall {
  grid-row: span 2;
}

.card.wide {
  grid-column: span 2;
}

.card.last {
  grid-column: span 1;
}

.card.one {
  grid-column: span 2;
}

.card.two {
  grid-column: span 2;
}

/* end of grid css */


/* Responsive for Mobile device */
@media (max-width: 768px) {

  /* HEADER / NAVIGATION */
  header {
    justify-content: space-between;
    padding: 0 20px;
    gap: 0;
  }

  nav ul {
    display: none;
    /* hide nav items */
  }

  header::after {
    content: "\2630";
    /* hamburger icon  */
    font-size: 28px;
    cursor: pointer;
  }

  header h1 {
    font-size: 24px;
  }

  header button {
    display: none;
  }

  /*  HERO SECTION */
  main {
    height: auto;
    padding-bottom: 100px;
  }

  main .img1,
  main .img2 {
    display: none;
  }

  main h4 {
    left: 50%;
    transform: translateX(-50%);
  }

  .p-web {
    padding-top: 300px;
  }

  .c-web h1 {
    font-size: 36px;
    text-align: center;
  }

  .c-web p {
    text-align: center;
    font-size: 14px;
  }

  .c-web div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /*  PODCAST STATS */
  .k {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
  }

  .k h2 {
    font-size: 28px;
    padding-top: 40px;
  }

  /*  WHY CHOOSE GRID */
  .cards {
    grid-template-columns: 1fr;
  }

  .card,
  .card.tall,
  .card.wide,
  .card.one,
  .card.two,
  .card.last {
    grid-column: span 1;
    grid-row: span 1;
  }

  /*  IFRAME SECTION*/
  .s {
    flex-direction: column;
    align-items: center;
  }

  .iss {
    width: 100%;
    max-width: 320px;
  }

  .iss iframe {
    width: 100%;
    height: 180px;
  }

  .jodi {
    height: auto;
    padding-bottom: 80px;
  }

  /*  HOST SECTION */
  .host {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .profile-pic {
    width: 200px;
  }

  .content h1 {
    font-size: 28px;
  }

  .content p {
    font-size: 14px;
  }

  .social-icons {
    justify-content: center;
  }

  .jan {
    height: auto;
    padding-bottom: 80px;
  }

  /* FOOTER */
  footer {
    height: auto;
    padding-bottom: 40px;
  }

  footer h1 {
    font-size: 36px;
  }

  footer .spot {
    flex-direction: column;
    gap: 15px;
  }

  footer .foot {
    font-size: 12px;
    padding: 0 20px;
  }
}

/* animetion part */

main .img2:hover{
animation:anime 2s linear infinite ;
}

@keyframes anime{
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(360deg);
  }
}
nav ul li:hover {
  transition: all 0.2s linear;
  transform: scale(1.3);
}
 header button:hover{
  border: 2px solid white;
 }
main button:hover{
   border: 2px solid white;
}
.iss:hover{
  transform: scale(1.1);
  transition: transform 0.2s linear;
  border: 1px solid white;
}